body {
  background: #fff;
  color: #798a9a;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 300; 
  }

.background{
  background-image: url("../images/backgrounds/arkaplan3.jpg");
}



.parent-nav-link-padding, .site-navbar .navbar-nav > li > a {
  padding: 15px 20px !important; }

.site-main {
  background-color: #ccc;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }
  .site-main, .site-main .row {
    height: 100vh; }
  .site-main:before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); }
  .site-main h1 {
    font-weight: 200;
    margin-bottom: 20px;
    display: block; }
    .site-main h1 strong {
      font-weight: 800; }
    @media (min-width: 768px) {
      .site-main h1 {
        font-size: 70px; } }
  .site-main h1, .site-main .lead {
    font-weight: 200;
    color: #fff; }
  .site-main .lead {
    line-height: 2; }
  .site-main .site-subheading {
    max-width: 640px;
    margin: 0 auto;
    color: white; }
.btn {
  border-radius: 100px;
  text-transform: uppercase;
  letter-spacing: .1em; }
  .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .btn.btn-primary {
    color: #fff; }
    .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
      background: #4ebe2a; }

.renk{
  color:white;
}

.hakkimda{
  background-image: url("../images/backgrounds/arkaplan6.jpg")
}

.section-heading {
  margin-bottom: 30px;
  position: relative;
  z-index: 10; }
  .section-heading h2 {
    position: relative;
    font-weight: 200;
    padding-top: 20px;
    font-size: 30px; }
    .section-heading h2 strong {
      font-weight: 800; }
    .section-heading h2:before {
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      width: 50px;
      background: #57d131;
      z-index: -1; }
  .section-heading.text-center h2:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.lead {
  font-weight: 200;
  line-height: 1.5; }

  .form-control {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) !important; }
  
.site-form .form-control {
  border: 1px solid #b3bdc6; }

.site-contact-details, .site-contact-details li {
  padding: 0;
  margin: 0; }
    
.site-contact-details li {
  list-style: none;
  margin-bottom: 20px; }
.site-contact-details li > span {
  color: #2c3e50;
  letter-spacing: .1em;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block; }

  .carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
	margin: 20px;
}

.iletisim{
  font-size: 20px;
}